# Database Connection (Default: local SQLite)
# DATABASE_URL=postgresql://user:password@localhost/dbname

# API Keys
GEMINI_API_KEY=your_google_api_key_here

# Security
APP_PASSWORD=secure_password_here
